.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flexbox;
  justify-content: center;
  align-items: center;
}

.movies {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  width: 100%;
  gap: 20px;
}

form input {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.row label {
  padding: 12px;
}

.row label input {
  margin-right: 10px;
}

.row input {
  margin: auto 0;
}

.row button {
  margin: auto;
}
